<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Recibo de Pago</title>
    <style>
           /* Estilos generales */
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f8f8; /* Fondo más claro */
        color: #333; /* Color de texto principal */
        margin: 0;
        padding: 0;
    }

    /* Estilos del título con fondo degradado */
    .titulo {
        background: linear-gradient(to right, #3f51b5, #ff9800); /* Fondo degradado morado a naranja */
        color: #fff;
        padding: 40px;
        text-align: center;
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        margin-bottom: 40px;
    }

    /* Estilos del contenedor principal */
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    /* Estilos de los campos de entrada y etiquetas */
    label {
        font-weight: bold;
        color: #555;
        display: block;
        margin-bottom: 6px;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: calc(100% - 24px);
        padding: 12px;
        margin-bottom: 20px;
        border: 2px solid #ddd;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 16px;
        color: #555;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    select:focus {
        border-color: #3f51b5;
    }

    /* Estilos del botón */
    button[type="submit"],
    a {
        width: 100%;
        padding: 12px;
        background-color: #ff5722; /* Naranja */
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-decoration: none;
        text-align: center;
        margin-top: 10px;
    }

    button[type="submit"]:hover,
    a:hover {
        background-color: #27687c; /* Naranja más oscuro al pasar el mouse */
    }

    /* Estilos del recibo */
    .receipt {
        margin-top: 40px;
        padding: 30px;
        background-color: #ecf0f1;
        border-radius: 12px;
        border: 1px solid #bdc3c7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .receipt p {
        margin-bottom: 15px;
        font-size: 16px;
        color: #555;
    }

    .receipt hr {
        margin: 30px 0;
        border: none;
        border-top: 1px solid #bdc3c7;
    }

    .receipt h2 {
        margin-top: 20px;
        color: #333;
        font-size: 24px;
    }

    </style>
</head>

<body>
    <div class="titulo">
        <h1>Generar Recibo de Pago</h1>
    </div>
    <div class="container">
        <form action="/" method="post">
            <label for="numDocente">Número de Docente:</label>
            <input type="text" id="numDocente" name="numDocente" required><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>

            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" required><br>

            <label for="nivel">Nivel:</label>
            <select id="nivel" name="nivel" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br>

            <label for="pagoBase">Pago Base por Hora Impartida:</label>
            <input type="number" id="pagoBase" name="pagoBase" required><br>

            <label for="horasImpartidas">Horas Impartidas:</label>
            <input type="number" id="horasImpartidas" name="horasImpartidas" required><br>

            <label for="cantidadHijos">Cantidad de Hijos:</label>
            <input type="number" id="cantidadHijos" name="cantidadHijos" required><br>

            <button type="submit">Generar Recibo</button>
            <br>
            <br>
            <a href="/">Limpiar</a>
        </form>
    </div>

    <% if (numDocente) { %>
    <div class="receipt container">
        <h1>Recibo de Pago</h1>
        <p><strong>Número de Docente:</strong> <%= numDocente %></p>
        <p><strong>Nombre:</strong> <%= nombre %></p>
        <p><strong>Domicilio:</strong> <%= domicilio %></p>
        <p><strong>Nivel:</strong> <%= nivel %></p>
        <p><strong>Pago Base por Hora Impartida:</strong> <%= pagoBase %></p>
        <p><strong>Horas Impartidas:</strong> <%= horasImpartidas %></p>
        <p><strong>Cantidad de Hijos:</strong> <%= cantidadHijos %></p>
        <hr>
        <p><strong>Pago Base Total:</strong> <%= pagoBaseTotal %></p>
        <p><strong>Impuesto:</strong> <%= impuesto %></p>
        <p><strong>Bono por Paternidad:</strong> <%= bonoTotal %></p>
        <hr>
        <h2><strong>Total a Pagar:</strong> <%= totalAPagar %></h2>
    </div>
    <% } %>
</body>
<%- include('partials/footer.ejs') %>

</html>
